OTS_0.4/SampleData/PartsSampleData/PartsSampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.PartsSampleData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.PartsSampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PartsSampleData" type="tns:PartsSampleData" />
  <xs:complexType name="PartsSampleData">
    <xs:sequence>
      <xs:element name="Parts" type="tns:Parts" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Parts">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PartsItem" type="tns:PartsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartsItem">
    <xs:attribute blend:FormatParameters="13,12" name="Part_Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="4" name="Stock_Quantity" type="xs:double" />
    <xs:attribute blend:FormatParameters="4" name="Reorder_Threshold" type="xs:double" />
    <xs:attribute blend:FormatParameters="4,12" name="Manufacturer" type="xs:string" />
    <xs:attribute blend:FormatParameters="10" name="Manufacturer_SKU" type="xs:double" />
    <xs:attribute blend:FormatParameters="100,12" name="Note" type="xs:string" />
  </xs:complexType>
</xs:schema>